.cls-1 {
    fill: #f4c69f;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-39,
.cls-40,
.cls-41,
.cls-42,
.cls-43,
.cls-44,
.cls-45,
.cls-46,
.cls-47,
.cls-48,
.cls-49,
.cls-50,
.cls-51,
.cls-52,
.cls-53,
.cls-54,
.cls-55,
.cls-56,
.cls-57,
.cls-58,
.cls-59,
.cls-60,
.cls-61,
.cls-62,
.cls-63,
.cls-64,
.cls-65,
.cls-66,
.cls-67,
.cls-68,
.cls-69,
.cls-70,
.cls-71,
.cls-72,
.cls-73,
.cls-74,
.cls-75,
.cls-76,
.cls-77,
.cls-78,
.cls-79 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: .5px;
}

.cls-2 {
    fill: #ecd2e1;
}

.cls-3 {
    fill: #f4e0a8;
}

.cls-4 {
    fill: #e1b5c2;
}

.cls-5 {
    fill: #f3e2b2;
}

.cls-6 {
    fill: #e6f2d6;
}

.cls-7 {
    fill: #e7d7ab;
}

.cls-8 {
    fill: #e4eea6;
}

.cls-9 {
    fill: #f3cba1;
}

.cls-10 {
    fill: #f4d1b3;
}

.cls-11 {
    fill: #d6f1b4;
}

.cls-12 {
    fill: #e5f2b8;
}

.cls-13 {
    fill: #eec8bf;
}

.cls-14 {
    fill: #f5a5c2;
}

.cls-15 {
    fill: #f7e2b6;
}

.cls-16 {
    fill: #b5ecf0;
}

.cls-17 {
    fill: #f8f0d0;
}

.cls-18 {
    fill: #f0d6a9;
}

.cls-19 {
    fill: #dfd6a6;
}

.cls-20 {
    fill: #e3ecb6;
}

.cls-21 {
    fill: #dfe8a6;
}

.cls-22 {
    fill: #d7f2e6;
}

.cls-23 {
    fill: #f7c8c6;
}

.cls-24 {
    fill: #e1d8b3;
}

.cls-25 {
    fill: #e3e9ac;
}

.cls-26 {
    fill: #faf8d8;
}

.cls-27 {
    fill: #e9f8ca;
}

.cls-28 {
    fill: #f4b0c6;
}

.cls-29 {
    fill: #f6a584;
}

.cls-30 {
    fill: #deb4c7;
}

.cls-31 {
    fill: #d8de90;
}

.cls-32 {
    fill: #f7d28a;
}

.cls-33 {
    fill: #f3d7e7;
}

.cls-34 {
    fill: #f3e1cd;
}

.cls-35 {
    fill: #e6e7a8;
}

.cls-36 {
    fill: #f4d7b4;
}

.cls-37 {
    fill: #eddfab;
}

.cls-38 {
    fill: #f7e4bb;
}

.cls-39 {
    fill: #f2b2ab;
}

.cls-40 {
    fill: #edb374;
}

.cls-41 {
    fill: #e9e9f5;
}

.cls-42 {
    fill: #e8f4e9;
}

.cls-43 {
    fill: #d5edf0;
}

.cls-44 {
    fill: #dae8ca;
}

.cls-45 {
    fill: #d5aeb9;
}

.cls-46 {
    fill: #f6ebc2;
}

.cls-47 {
    fill: #f0afc2;
}

.cls-48 {
    fill: #e1e1f1;
}

.cls-49 {
    fill: #f1bbba;
}

.cls-50 {
    fill: #dfd9da;
}

.cls-51 {
    fill: #d7e6ab;
}

.cls-52 {
    fill: #e6b6c8;
}

.cls-53 {
    fill: #f0e8a0;
}

.cls-54 {
    fill: #f3dbbd;
}

.cls-55 {
    fill: #f5ebc2;
}

.cls-56 {
    fill: #e8d4b5;
}

.cls-57 {
    fill: #f6b4aa;
}

.cls-58 {
    fill: #b3ebfd;
}

.cls-59 {
    fill: #ecedbc;
}

.cls-60 {
    fill: #e2f7c8;
}

.cls-61 {
    fill: #e3dbb6;
}

.cls-62 {
    fill: #f5fc9a;
}

.cls-63 {
    fill: #d4e2e2;
}

.cls-64 {
    fill: #efb4b2;
}

.cls-65 {
    fill: #bc7cff;
}

.cls-66 {
    fill: #e3e495;
}

.cls-67 {
    fill: #f3e7b4;
}

.cls-68 {
    fill: #e5c7b3;
}

.cls-69 {
    fill: #decbba;
}

.cls-70 {
    fill: #eec0e2;
}

.cls-71 {
    fill: #f6e5bf;
}

.cls-72 {
    fill: #f0f1bd;
}

.cls-73 {
    fill: #f1b3a4;
}

.cls-74 {
    fill: #f4c8ba;
}

.cls-75 {
    fill: #fdc6ce;
}

.cls-76 {
    fill: #f6d4af;
}

.cls-77 {
    fill: #dfa5bf;
}

.cls-78 {
    fill: #f0d9b8;
}

.cls-79 {
    fill: #f4e9b5;
}

.cls-80 {
    fill: #87b0cc;
}

.cls-81 {
    fill: #8ef185;
}

.turkey-map-wrapper {
    position: relative;

    svg {
        path {
            cursor: pointer;
            transition: fill 0.3s ease;

            &:hover {
                fill: #F81C40;
            }
        }
    }

    svg g[id="other"]{
        pointer-events: none;
        z-index:  1080 !important;
    }


    .info-toggle {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        display: block;
        z-index: 10;
        width: auto;
        pointer-events: none;

        .region-info {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}